@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}
.entry {
  display: block;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entry-container {
  width: 460px;
}
.entry-form {
  padding: 35px 20px;
  position: relative;
  background-color: white;
}
.entry-form__title {
  margin: 0 0 36px;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #161516;
}
.entry-form__registration-link {
  top: 9px;
  right: 20px;
  position: absolute;
  font-family: "Montserrat-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-decoration: underline;
  color: #d58c51;
}
.entry-form__input-block {
  position: relative;
}
.entry-form__input-block--check {
  margin-bottom: 30px;
}
.entry-form__input {
  display: block;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 39px;
  border: 1px solid #d58c51;
  border-radius: 61px;
  text-indent: 18px;
}
.entry-form__input--checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.entry-form__input--checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.entry-form__input--checkbox + label::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d58c51;
  border-radius: 50px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.entry-form__input--checkbox:checked + label::before {
  background-image: url(/images/entry/check_mark.png);
  background-size: 12px;
}
.entry-form__input::-moz-placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.entry-form__input:-ms-input-placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.entry-form__input::placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.entry-form__input:focus {
  outline: none;
}
.entry-form__error {
  position: absolute;
  top: 41px;
  left: 20px;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ff0b0b;
}
.entry-form__error--empty-log {
  display: none;
}
.entry-form__error--empty-pass {
  display: none;
}
.entry-form__error--empty-check {
  display: none;
  top: 25px;
}
.entry-form__error--wrong {
  display: none;
  top: 30px;
  left: 110px;
  font-size: 14px;
}
.entry-form__label {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #301411;
}
.entry-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 42px;
  border: none;
  background: #d58c51;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.entry-body {
  background-image: url(/images/entry/entry_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.registration {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registration-container {
  width: 460px;
}
.registration-form {
  padding: 35px 20px;
  position: relative;
  background-color: white;
}
.registration-form__title {
  margin: 0 0 36px;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #161516;
}
.registration-form__entry-link {
  top: 9px;
  right: 20px;
  position: absolute;
  font-family: "Montserrat-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-decoration: underline;
  color: #d58c51;
}
.registration-form__input-block {
  position: relative;
}
.registration-form__input-block--check {
  margin-bottom: 30px;
}
.registration-form__input {
  display: block;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 39px;
  border: 1px solid #d58c51;
  border-radius: 61px;
  text-indent: 18px;
}
.registration-form__input--checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration-form__input--checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.registration-form__input--checkbox + label::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d58c51;
  border-radius: 50px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.registration-form__input--checkbox:checked + label::before {
  background-image: url(/images/entry/check_mark.png);
  background-size: 12px;
}
.registration-form__input::-moz-placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.registration-form__input:-ms-input-placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.registration-form__input::placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161516;
}
.registration-form__input:focus {
  outline: none;
}
.registration-form__error {
  position: absolute;
  top: 41px;
  left: 20px;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ff0b0b;
}
.registration-form__error--empty-log {
  display: none;
}
.registration-form__error--empty-pass {
  display: none;
}
.registration-form__error--empty-check {
  display: none;
  top: 25px;
}
.registration-form__error--length-log {
  display: none;
}
.registration-form__error--length-pass {
  display: none;
}
.registration-form__error--valid-log {
  display: none;
}
.registration-form__label {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #301411;
}
.registration-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 42px;
  border: none;
  background: #d58c51;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.body-menu {
  margin: 0;
  display: block;
  background: #161516;
}

.header {
  padding: 20px 0px;
  background: #161516;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.header__btn-back {
  display: none;
  width: 32px;
  height: 32px;
  border: 1px solid #d58c51;
  border-radius: 50px;
  background-image: url(/images/basket/btn_back.svg);
  background-position: center;
  background-color: transparent;
}
.header__btn-back:hover {
  cursor: pointer;
}
.header__title {
  margin: 0;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__title--basket {
  display: none;
}
.header__right-block {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__basket {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__list {
  display: block;
  text-align: end;
}
.header__amount-number {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.header__amount-text {
  padding-left: 5px;
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.header__sum-text {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.header__sum-cost {
  display: inline-block;
  width: 55px;
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.header__rubles {
  padding-left: 8px;
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.header__basket-link {
  display: block;
}
.header__basket-link:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header__logout-btn {
  width: 200px;
  height: 42px;
  border: 1px solid #d58c51;
  background: #161516;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #d58c51;
}
.header__logout-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #d58c51;
  color: #ffffff;
}

.menu {
  display: block;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  gap: 15px;
}
.menu__dish {
  position: relative;
  width: 312px;
  height: 552px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 43px 20px 32px;
  border: 1px solid #d58c51;
}
.menu__dish-img {
  width: 270px;
  height: 271px;
  margin-bottom: 30px;
}
.menu__dish-title {
  margin: 0 0 10px;
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}
.menu__dish-description {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.menu__dish-price {
  display: flex;
  gap: 140px;
  align-items: center;
  position: absolute;
  bottom: 35px;
}
.menu__dish-cost {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}
.menu__dish-weight {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.menu__dish-add {
  width: 30px;
  height: 30px;
  background: #161516;
  background-image: url(/images/menu/add_btn.svg);
  border: 2px solid white;
  border-radius: 50px;
  background-position: center;
}
.menu__dish-add:hover {
  cursor: pointer;
  transition: 0.03s;
  background-color: #d58c51;
}
.menu__dish-add:active {
  cursor: pointer;
  opacity: 0.9;
  width: 30px;
  height: 30px;
  background-image: url(/images/menu/add_btn.svg);
  border: 4px solid transparent;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.basket {
  display: none;
}
.basket-container {
  max-width: 1300px;
  margin: 0 auto;
}
.basket-empty {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.basket-empty__title {
  margin-bottom: 30px;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
.basket-list {
  max-width: 1000px;
  margin: 0 auto;
}
.basket-dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.basket-dish__left-block {
  display: flex;
  align-items: center;
  gap: 100px;
}
.basket-dish__img {
  width: 122px;
  height: 122px;
}
.basket-dish__title {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}
.basket-dish__right-block {
  display: flex;
  align-items: center;
  gap: 15px;
}
.basket-dish__amount {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__plus {
  width: 30px;
  height: 30px;
  background: #161516;
  background-image: url(/images/basket/btn_plus.png);
  border: 2px solid #d58c51;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__plus:hover {
  cursor: pointer;
  transition: 0.2s;
  width: 30px;
  height: 30px;
  background: #d58c51;
  background-image: url(/images/basket/btn_plus-hover.png);
  border: 2px solid white;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__plus:active {
  transition: 0.1s;
  width: 30px;
  height: 30px;
  background: #161516;
  background-image: url(/images/basket/btn_plus-hover.png);
  border: 2px solid white;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__amount-number {
  width: 30px;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__minus {
  width: 30px;
  height: 30px;
  background: #161516;
  background-image: url(/images/basket/btn_minus.png);
  border: 2px solid #d58c51;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__minus:hover {
  cursor: pointer;
  transition: 0.2s;
  width: 30px;
  height: 30px;
  background: #d58c51;
  background-image: url(/images/basket/btn_minus-hover.png);
  border: 2px solid white;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__minus:active {
  transition: 0.1s;
  width: 30px;
  height: 30px;
  background: #161516;
  background-image: url(/images/basket/btn_minus-hover.png);
  border: 2px solid white;
  border-radius: 50px;
  background-position: center;
}
.basket-dish__unit {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__price-text {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__price {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__rubles {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__sum-text {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__sum {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-dish__btn-del {
  width: 30px;
  height: 30px;
  background-image: url(/images/basket/btn_del.png);
  background-position: center;
  border: 2px solid #d58c51;
  border-radius: 50px;
  background-color: #161516;
  background-size: 16px;
  background-repeat: no-repeat;
}
.basket-dish__btn-del:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(/images/basket/btn_del-hover.png);
  background-position: center;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #d58c51;
  background-repeat: no-repeat;
}
.basket-dish__btn-del:active {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(/images/basket/btn_del-hover.png);
  background-position: center;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.basket-order {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  gap: 360px;
  background: #161516;
  z-index: 3;
  bottom: 0;
  padding: 25px 0;
}
.basket-order__title {
  margin-right: 16px;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.basket-order__sum {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-order__sum-rubles {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
}
.basket-order__btn-order {
  width: 200px;
  height: 42px;
  background-color: #d58c51;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}
.basket-order__btn-order:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.line {
  display: none;
  margin: -10px 0px 0px 0px;
  width: 100%;
  border-color: #d58c51;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  bottom: 92px;
}

.info {
  display: none;
  padding-top: 50px;
}
.info-container {
  max-width: 1300px;
  margin: 0 auto;
}
.info-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.info-main__dish-img {
  width: 501px;
  height: 503px;
}
.info-dish__title {
  margin-bottom: 21px;
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #d58c51;
}
.info-dish__description {
  margin-bottom: 50px;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.info-dish__order {
  display: flex;
  align-items: center;
  gap: 68px;
}
.info-dish__cost {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
.info-dish__weight {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.info-dish__add-btn {
  width: 200px;
  height: 42px;
  background: #d58c51;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  color: #131313;
}/*# sourceMappingURL=style.css.map */