.basket-body {
  margin: 0;
  background: #161516;
}

.basket {

  &-container {
    max-width: 1300px;
    margin: 0 auto;
  }

  &-empty {
    display: block;
    text-align: center;
    margin-bottom: 50px;

    &__title {
      margin-bottom: 30px;
      font-family: "Montserrat-Bold", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 38px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &-list {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  &-dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &__left-block {
      display: flex;
      align-items: center;
      gap: 100px;
    }

    &__img {
      width: 122px;
      height: 122px;
    }

    &__title {
      font-family: "Montserrat-Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      color: #ffffff;
    }

    &__right-block {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &__amount {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__plus {
      width: 30px;
      height: 30px;
      background: #161516;
      background-image: url(/images/basket/btn_plus.png);
      border: 2px solid #d58c51;
      border-radius: 50px;
      background-position: center;
    }

    &__plus:hover {
      cursor: pointer;
      transition: 0.2s;
      width: 30px;
      height: 30px;
      background: #d58c51;
      background-image: url(/images/basket/btn_plus-hover.png);
      border: 2px solid white;
      border-radius: 50px;
      background-position: center;
    }

    &__plus:active {
      transition: 0.1s;
      width: 30px;
      height: 30px;
      background: #161516;
      background-image: url(/images/basket/btn_plus-hover.png);
      border: 2px solid white;
      border-radius: 50px;
      background-position: center;
    }

    &__amount-number {
      width: 30px;
      text-align: center;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__minus {
      width: 30px;
      height: 30px;
      background: #161516;
      background-image: url(/images/basket/btn_minus.png);
      border: 2px solid #d58c51;
      border-radius: 50px;
      background-position: center;
    }

    &__minus:hover {
      cursor: pointer;
      transition: 0.2s;
      width: 30px;
      height: 30px;
      background: #d58c51;
      background-image: url(/images/basket/btn_minus-hover.png);
      border: 2px solid white;
      border-radius: 50px;
      background-position: center;
    }

    &__minus:active {
      transition: 0.1s;
      width: 30px;
      height: 30px;
      background: #161516;
      background-image: url(/images/basket/btn_minus-hover.png);
      border: 2px solid white;
      border-radius: 50px;
      background-position: center;
    }

    &__unit {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__price-text {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }
    &__price {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__rubles {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__sum-text {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__sum {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;
    }

    &__btn-del {
      width: 30px;
      height: 30px;
      background-image: url(/images/basket/btn_del.png);
      background-position: center;
      border: 2px solid #d58c51;
      border-radius: 50px;
      background-color: #161516;
      background-size: 16px;
      background-repeat: no-repeat;
    }

    &__btn-del:hover {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-image: url(/images/basket/btn_del-hover.png);
      background-position: center;
      border: 2px solid white;
      border-radius: 50px;
      background-color: #d58c51;

      background-repeat: no-repeat;
    }

    &__btn-del:active {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-image: url(/images/basket/btn_del-hover.png);
      background-position: center;
      border: 2px solid white;
      border-radius: 50px;
      background-color: transparent;
      background-repeat: no-repeat;
    }
  }

  &-order {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    gap: 360px;
    background: #161516;
    z-index: 3;
    bottom: 0;
    padding: 25px 0;

    &__title {
      margin-right: 16px;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      color: #ffffff;
    }

    &__sum {
      display: inline-block;
      width: 55px;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d58c51;

      &-rubles {
        font-family: "Montserrat-Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #d58c51;
      }
    }

    &__btn-order {
      width: 200px;
      height: 42px;
      background-color: #d58c51;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      border: none;
      color: #131313;
    }

    &__btn-order:hover {
      cursor: pointer;
      color: #ffffff;
    }

    &__btn-order:active {
      cursor: pointer;
      color: #ffffff;
      outline: 1px solid #d58c51;
    }
  }
}

.line {
  margin: -10px 0px 0px 0px;
  width: 100%;
  border-color: #d58c51;
  position: sticky;
  z-index: 3;
  bottom: 92px;
}
