.entry {
  display: block;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-container {
    width: 460px;
  }

  &-form {
    padding: 35px 20px;
    position: relative;
    background-color: white;

    &__title {
      margin: 0 0 36px;
      text-align: center;
      font-family: "Montserrat-Bold", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 38px;
      text-transform: uppercase;
      color: #161516;
    }

    &__registration-link {
      top: 9px;
      right: 20px;
      position: absolute;
      font-family: "Montserrat-Light", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      text-decoration: underline;
      color: #d58c51;
    }

    &__input-block {
      position: relative;
      &--check {
        margin-bottom: 30px;
      }
    }

    &__input {
      font-size: 20px;
      display: block;
      margin-bottom: 15px;
      box-sizing: border-box;
      width: 100%;
      height: 39px;
      border: 1px solid #d58c51;
      border-radius: 61px;
      text-indent: 18px;

      &--checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      &--checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &--checkbox + label::before {
        cursor: pointer;
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #d58c51;
        border-radius: 50px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      &--checkbox:checked + label::before {
        background-image: url(/images/entry/check_mark.png);
        background-size: 12px;
      }
    }

    &__input::placeholder {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #161516;
    }

    &__input:focus {
      outline: none;
    }

    &__error {
      position: absolute;
      top: 41px;
      left: 20px;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      color: #ff0b0b;

      &--empty-log {
        display: none;
      }

      &--empty-pass {
        display: none;
      }

      &--empty-check {
        display: none;
        top: 25px;
      }

      &--wrong {
        display: none;
        top: 30px;
        left: 170px;
      }
    }

    &__label {
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #301411;
    }

    &__btn {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 42px;
      border: none;
      background: #d58c51;
      font-family: "Montserrat-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #131313;
    }
  }
}
